.section {
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: var(--padding-xs);
}

.tags li {
  cursor: pointer;
  padding: 0.6rem 0.75rem;
  border-radius: 12px;
  /* background: rgba(180, 185, 188, 0.1); */
  background: #212121;
  color: #ccc;
  border: 1px solid var(--foreground);
  text-transform: uppercase;
}
